body {
    text-align: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #111827;
    color: #FFFFFF;
}

.container {
    margin-top: 10rem;
}

h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 2rem;
    color: #666E7B;
}

ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

li a {
    color: aqua;
}